<aside id="menu" data-position="left" data-transition="push">
    <div class="header">菜单</div>
    <div class="userPic">
        <img class="userPicImg" src="static/images/userPic.png" alt=""/>
        <div class="userNameBox">
            欢迎您！ <span class="username"></span>
        </div>
    </div>
    <div class="center">
        <ul class="menu">
            <li><a class="menuLink" href="#userCenter_section" data-target="section">个人中心</a></li>
            <li><a class="menuLink" href="javascript:;">收藏夹</a></li>
            <li><a class="menuLink" href="javascript:;">设置</a></li>
            <li><a class="menuLink" href="#login_section" id="logout" data-target="section">退出</a></li>
        </ul>
    </div>
</aside>
<link rel="stylesheet" href="components/navigation/navigation.css">