<section id="login_section" class="active" data-target="section">
    <header>
        <!--<nav class="left">-->
        <!--<a id="menu" data-icon="menu" href="#"></a>-->
        <!--</nav>-->
        <h1 class="title">集购册</h1>
    </header>
    <article class="active" data-scroll="false">
        <form class="input-group form-login" id="login_form">
            <div class="input-row">
                <label>手机号</label>
                <input type="text" name="mobile" class="input input-cellphone" maxlength="11" placeholder="请输入手机号">
            </div>
            <div class="input-row">
                <label>密码</label>
                <input class="input input-password" name="password" type="password" placeholder="请输入密码">
            </div>
            <a href="#" class="button block btn-login">登录</a>
        </form>
    </article>
</section>
<link rel="stylesheet" href="/buy//components/login_section/login_section.css">