<section id="gatherMain_section" data-transition="cover">
    <header>
        <div class="button-links grid">
            <div class="col-0">
                <a href="#" class="icon icon-leftArrow btn-back" data-target="back"></a>
            </div>
            <div class="col-1">
                <a class="button-link button-link-active-lock tabBtn" href="#">
                    淘宝
                </a>
            </div>
            <div class="col-1">
                <a class="button-link button-link tabBtn" href="#">
                    <!--京东-->
                    美团
                </a>
            </div>
            <div class="col-1">
                <a class="button-link button-link tabBtn" href="#">
                    <!--亚马逊-->
                    天猫
                </a>
            </div>
            <div class="col-0">
                <a class="button peter-river btn-more" href="#">
                    更多
                </a>
            </div>
        </div>
        <!--<nav class="right">-->
            <!--<a href="#addDelivery_section" class="btn-addDelivery" data-target="section">-->

            <!--</a>-->
        <!--</nav>-->
    </header>

    <article class="active" id="" data-scroll="false">
        <div class="websiteCats grid">
            <div class="col-0 websiteCats-names">
                <div class="websiteCats-names-cats">
                    类型
                </div>
                <hr class="hr"/>
                <div class="websiteCats-names-catsCont">
                    电商
                </div>
            </div>
            <div class="col-1 websiteCats-box">
                <div class="websiteCats-box-cats">
                    <div class="websiteCats-box-cats-container" id="gatherMain-websiteCats-box-cats">
                        <ul class="control-group" style="width: 300px;">
                            <li class="active"><a href="#">常用</a></li>
                            <li><a href="#" >综合</a></li>
                            <li><a href="#" >医药</a></li>
                            <li><a href="#" >体育</a></li>
                        </ul>
                    </div>
                </div>
                <div class="websiteCats-box-catsCont">
                    <div  class="websiteCats-box-catsCont-container" id="gatherMain-websiteCats-box-catsCont">
                        <ul class="control-group" style="width: 500px;">
                            <li class="active"><a href="#">天猫</a></li>
                            <li><a href="#" >聚美优品</a></li>
                            <li><a href="#" >亚马逊</a></li>
                            <li><a href="#" >亚马逊</a></li>
                            <li><a href="#" >亚马逊</a></li>
                            <li><a href="#" >亚马逊</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <iframe class="tabCont" data-src="http://m.taobao.com" frameborder="0"></iframe>
        <iframe class="tabCont" data-src="http://m.meituan.com" frameborder="0"></iframe>
        <iframe class="tabCont" data-src="http://m.tmall.com" frameborder="0"></iframe>
        <div class="bottomHeight"></div>
    </article>

    <footer>
        <a href="#layout_book_article">
    <i class="icon icon-search-goods"></i>
    搜物
</a>
<a href="#" data-target="back">
    <i class="icon icon-noText icon-leftArrow"></i>
</a>
<a href="#layout_book_article">
    <i class="icon icon-noText icon-rightArrow"></i>
</a>
<a href="#main_section" data-target="section">
    <i class="icon icon-noText icon-home"></i>
</a>
<a href="#" class="btn-refresh">
    <i class="icon icon-noText icon-refresh"></i>
</a>
    </footer>
</section>
<link rel="stylesheet" href="/buy//components/gatherMain_section/gatherMain_section.css">