<section id="gatherGroupBuy_section" data-transition="slideUp">
    <header>
        <div class="button-links grid">
            <div class="col-0">
                <a data-icon="previous" class="btn-back" href="#" data-target="back"></a>
            </div>
            <div class="col-1">
                <a class="button-link button-link-active-lock" href="#">
                    美团
                </a>
            </div>
            <div class="col-1">
                <a class="button-link button-link" href="#">
                    百度糯米
                </a>
            </div>
            <div class="col-1">
                <a class="button-link button-link" href="#">
                    大众点评
                </a>
            </div>
            <div class="col-0">
                <a class="button peter-river btn-more" href="#">
                    更多
                </a>
            </div>
        </div>
    </header>
    <nav class="header-secondary">
        <div class="tabBtns grid">
            <div class="col-1">
                <a class="tabBtn active" href="#">
                    美团
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#">
                    百度糯米
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#">
                    大众点评
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#">
                    拉手网
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#">
                    给力团
                </a>
            </div>
        </div>
    </nav>

    <article class="tabCont active" id="gatherActs-article-1" data-scroll="false">
        <iframe src="http://m.jd.com/" frameborder="0"></iframe>
        <div class="bottomHeight"></div>
    </article>
    <article class="tabCont" id="gatherActs-article-2" data-scroll="false">
        <iframe src="http://m.tmall.com" frameborder="0"></iframe>
        <div class="bottomHeight"></div>
    </article>
    <article class="tabCont" id="gatherActs-article-3" data-scroll="false">
        <iframe src="http://m.tmall.com" frameborder="0"></iframe>
        <div class="bottomHeight"></div>
    </article>
    <article class="tabCont" id="gatherActs-article-4" data-scroll="false">
        <iframe src="http://m.tmall.com" frameborder="0"></iframe>
        <div class="bottomHeight"></div>
    </article>
    <article class="tabCont" id="gatherActs-article-5" data-scroll="false">
        <iframe src="http://m.tmall.com" frameborder="0"></iframe>
        <div class="bottomHeight"></div>
    </article>

    <footer>
        <a href="#layout_book_article">
    <i class="icon icon-search-goods"></i>
    搜物
</a>
<a href="#layout_book_article">
    <i class="icon previous"></i>
</a>
<a href="#layout_book_article">
    <i class="icon next"></i>
</a>
<a href="#main_section" data-target="section">
    <i class="icon home"></i>
</a>
<a href="#layout_book_article">
    <i class="icon loop"></i>
</a>
    </footer>
</section>
<link rel="stylesheet" href="/buy//components/gatherGroupBuy_section/gatherGroupBuy_section.css">