<section id="gatherIntelligentSearchAll_section" data-transition="slideUp">
    <header>
        <nav class="left">
            <a data-icon="previous" class="btn-back" href="#" data-target="back"></a>
        </nav>
        <h1 class="title">
            智能搜索全网
        </h1>
        <!--<nav class="right">-->
            <!--<a href="#addDelivery_section" class="btn-addDelivery" data-target="section">-->

            <!--</a>-->
        <!--</nav>-->
    </header>

    <article class="grid vertical active" id="main_active" data-scroll="false">

        <div class="padding col-0">
            <input class="input-keywords" type="search" placeholder="请输入第一个关键词"/>
            <input class="input-keywords" type="search" placeholder="请输入第二个关键词"/>
            <input class="input-keywords" type="search" placeholder="请输入第三个关键词"/>
            <input class="input-keywords" type="search" placeholder="请输入第四个关键词"/>

            <div class="blankState">
                <div class="grid recommend">
                    <div class="col-1">
                        货 <span class="orange-bg">比</span> <span class="smaller-text">三家</span>
                    </div>
                    <div class="col-1">
                        <a class="button-link button-link-active" href="#">
                            进入
                        </a>
                    </div>
                </div>
                <div class="grid keywords">
                    <div class="col-1">
                        <a class="button alizarin" href="#">
                            京东
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="button alizarin" href="#">
                            淘宝
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="button alizarin" href="#">
                            亚马逊
                        </a>
                    </div>
                </div>

                <div class="websiteList">
                    <div class="websiteList-tit">
                        有<span class="color-blue">*</span>货<span class="color-orange">*</span>电<span class="color-blue">*</span>商
                    </div>
                    <div class="websiteList-cont">

                        <ul class="websiteListItems">
                            <li class="websiteListItem">
                                <div class="websiteListItem-gradual-bg grid">
                                    <div class="button-link button-link-rightArrow websiteListItem-tit col-0">
                                        当当网
                                    </div>
                                    <a class="websiteListItem-link col-1" href="#">
                                        化妆
                                    </a>
                                    <a class="websiteListItem-link-button col-0" href="#">
                                        浏览
                                    </a>
                                </div>
                            </li>
                            <li class="websiteListItem">
                                <div class="websiteListItem-gradual-bg grid">
                                    <div class="button-link button-link-rightArrow websiteListItem-tit col-0">
                                        当当网
                                    </div>
                                    <a class="websiteListItem-link col-1" href="#">
                                        化妆
                                    </a>
                                    <a class="websiteListItem-link-button col-0" href="#">
                                        浏览
                                    </a>
                                </div>
                            </li>
                            <li class="websiteListItem">
                                <div class="websiteListItem-gradual-bg grid">
                                    <div class="button-link button-link-rightArrow websiteListItem-tit col-0">
                                        当当网
                                    </div>
                                    <a class="websiteListItem-link col-1" href="#">
                                        化妆
                                    </a>
                                    <a class="websiteListItem-link-button col-0" href="#">
                                        浏览
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </article>

</section>
<link rel="stylesheet" href="/buy//components/gatherIntelligentSearch/gatherIntelligentSearchAll_section/gatherIntelligentSearchAll_section.css">