<section id="accountManage_section" data-transition="cover">
    <header>
        <nav class="left">
            <a href="#" class="icon icon-leftArrow btn-back" data-target="back"></a>
        </nav>
        <h1 class="title">
            购物账号管理
        </h1>

    </header>

    <article class="active" id="accountManage_section_active" data-scroll="false">

        <div class="userInfo grid">
            <div class="col-0">
                <div class="userinfo-img-wrap">
                    <img class="userinfo-img" src="/buy//components/gatherAccount/accountManage_section/userImg.jpg" alt=""/>
                </div>
            </div>
            <div class="col-1">
                <h2 class="userInfo-name">
                    实得分
                </h2>
                <div class="userInfo-other">
                    年龄：<span class="color-orange">20</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    喜好：<span class="color-orange">购物</span>
                </div>
            </div>
        </div>
        <div class="websiteManage">
            <div class="websiteManage-tit">
                我的购物网站管理
                <a class="button dark-orange btn-addWebSite" href="#addAccount_section" data-target="section">
                    添加
                </a>
            </div>
            <div class="websiteManage-cont">
                <ul class="websiteListItems">
                    <li class="websiteListItem">
                        <div class="websiteListItem-gradual-bg grid">
                            <div class="button-link button-link-rightArrow websiteListItem-tit col-0">
                                当当网
                            </div>
                            <a class="websiteListItem-link col-1" href="#">
                                删除
                            </a>
                            <a class="websiteListItem-link-button col-0" href="#accountDetail_section" data-target="section">
                                浏览
                            </a>
                        </div>
                    </li>
                    <li class="websiteListItem">
                        <div class="websiteListItem-gradual-bg grid">
                            <div class="button-link button-link-rightArrow websiteListItem-tit col-0">
                                当当网
                            </div>
                            <a class="websiteListItem-link col-1" href="#">
                                删除
                            </a>
                            <a class="websiteListItem-link-button col-0" href="#accountDetail_section" data-target="section">
                                浏览
                            </a>
                        </div>
                    </li>
                    <li class="websiteListItem">
                        <div class="websiteListItem-gradual-bg grid">
                            <div class="button-link button-link-rightArrow websiteListItem-tit col-0">
                                当当网
                            </div>
                            <a class="websiteListItem-link col-1" href="#">
                                删除
                            </a>
                            <a class="websiteListItem-link-button col-0" href="#accountDetail_section" data-target="section">
                                浏览
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </article>
    <footer>
        <a href="#layout_book_article">
    <i class="icon icon-person-buy"></i>
    集人购
</a>
<a href="#main_section" data-target="section">
    <i class="icon icon-search-goods"></i>
    搜物
</a>
<a href="#searchToBuy_section" data-target="section">
    <i class="icon icon-before-buy"></i>
    待购
</a>
<a href="#layout_book_article">
    <i class="icon icon-user-center"></i>
    个人中心
</a>
    </footer>
</section>
<link rel="stylesheet" href="/buy//components/gatherAccount/accountManage_section/accountManage_section.css">