/**
 * Created with WebStorm.
 * User: qiuyun
 * Date: 15-8-30
 * Time: 下午2:25
 * To change this template use File | Settings | File Templates.
 */
*{
    -webkit-user-select: none;
}
input,textarea{
    -webkit-user-select: text;
}
legend{
    text-align: center;
}
.form-actions{
    margin: 10px 0 0 0 ;
}
.tc{
    text-align: center;
}
.control-group{
    margin-top: 20px;
}
.userPic,.userPicImg{
    display: block;
    height: 100px;
}