<div class="container-fluid container-logo">
    <form class="form-horizontal" method="post" id="loginForm">
        <fieldset>
            <legend>登录</legend>
            <img class="logo" src="/web/static/images/logo-s.jpg" alt=""/>
            <div class="control-group control-group-cellphone tc">
                <label class="control-label" for="username">手机号:</label>
                <input type="text" class="input-xlarge" id="username" name="username">

            </div>
            <div class="control-group control-group-password tc">
                <label class="control-label" for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码:</label>
                <input type="password" class="input-xlarge" id="password" name="password">

            </div>
            <div class="control-group control-group-goLogin tc">
                <a href="/web/index.html#/register" class="goLogin">还没有账号，免费注册>></a>
            </div>
            <input type="hidden" id="Lng" name="Lng"/>
            <input type="hidden" id="Lat" name="Lat"/>
            <div class="form-actions form-actions-registerBtn tc">
                <button type="submit" class="btn btn-primary btn-login">登录</button>
            </div>
        </fieldset>
    </form>
</div>
<link rel="stylesheet" type="text/css" href="components/login/login.css"/>