<section id="gatherActsList_section" data-transition="cover">
    <header>
        <nav class="left">
            <a href="#" class="icon icon-leftArrow btn-back" data-target="back"></a>
        </nav>
        <h1 class="title">
            活动
        </h1>
    </header>
    <nav class="header-secondary">
        <div class="tabBtns grid">
            <div class="col-1">
                <a class="tabBtn active" href="#gatherActs-article-1" data-target="article">
                    最火
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#gatherActs-article-2" data-target="article">
                    美容
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#gatherActs-article-3" data-target="article">
                    母婴
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#gatherActs-article-4" data-target="article">
                    爱穿搭
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#gatherActs-article-5" data-target="article">
                    数码
                </a>
            </div>
        </div>
    </nav>

    <article class="active" id="gatherActs-article-1" data-scroll="false">
        <a href="#gatherActsListDetail_section" data-target="section">
            <img src="/buy//components/gatherActs/gatherActsList_section/actList.jpg" alt=""/>
        </a>
        <div class="bottomHeight"></div>
    </article>
    <article id="gatherActs-article-2" data-scroll="false">

        <div class="bottomHeight"></div>
    </article>
    <article id="gatherActs-article-3" data-scroll="false">

        <div class="bottomHeight"></div>
    </article>
    <article id="gatherActs-article-4" data-scroll="false">

        <div class="bottomHeight"></div>
    </article>
    <article id="gatherActs-article-5" data-scroll="false">

        <div class="bottomHeight"></div>
    </article>

    <footer>
        <a class="footer-btn-searchGoods" href="#layout_book_article">
    <i class="icon icon-search-goods"></i>
    搜物
</a>
<a href="#" data-target="back">
    <i class="icon icon-noText icon-leftArrow"></i>
</a>
<a href="#layout_book_article">
    <i class="icon icon-noText icon-rightArrow"></i>
</a>
<a href="#main_section" data-target="section">
    <i class="icon icon-noText icon-home"></i>
</a>
<a href="#" class="btn-refresh">
    <i class="icon icon-noText icon-refresh"></i>
</a>
    </footer>
</section>
<link rel="stylesheet" href="/buy//components/gatherActs/gatherActsList_section/gatherActsList_section.css">