/**
 * Created with WebStorm.
 * User: qiuyun
 * Date: 15-8-30
 * Time: 下午3:28
 * To change this template use File | Settings | File Templates.
 */
body,html{
    height: 100%;
}
.container-index{
    position: relative;
    height: 100%;
}
.bar{
    width: 100%;
    background-color: #ccc;
    z-index: 999;
    height: 6%;
}
.map{
    height: 94%;
    background-color: #000;
}
.nav{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 50%;
    bottom: 20px;
    margin: 0 0 0 -50px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 998;
}
.navBtn{
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
/*navBar*/
.mask{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 998;
}
.navBar{
    position: absolute;
    left: -165px;
    top: 0;
    width: 165px;
    height: 100%;
    z-index: 999;
    background-color: #fff;
}
.userPic{
    height: 117px;
    padding: 10px;
    background-color: #ccc;
}
.userPicImg{
    display: block;
    margin: 0 auto;
}
.navBarBtn{
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}
.navBarBtn:hover{
    background-color: #ccc;
}