/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (-webkit-min-device-pixel-ratio: 2)
and (max-device-width: 480px)
and (min-device-width: 320px) {

    /*page1*/
    .page1-tit{
        width: 300px;
        background-size: 80% 80%;
    }
    .page1-tit h1{
        font-size: 22px;
    }
    .page1-tit p{
        font-size: 16px;
    }
    .page1-box{
        width: 94px;
        height: 88px;
        font-size: 12px;
        background-size: 100% 80%;
        padding-top: 10px;
        margin: 0 0 0 10px;
    }
    .page1-box-num{
        font-size: 21px;
    }
    .page1-footer{
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    .page1-footer-btn{
        width: 87px;
        height: 20px;
        font-size: 12px;
        line-height: 19px;
        margin: 5px 0 0 0;
    }

    .page-tit{
        font-size: 24px;
    }

    /*page2*/
    .page2-body{
        width: 345px;
        height: 290px;
        background-size: 67% 42%;
    }
    .page2-body-feature{
        width: 146px;
        top: 95%;
    }
    .page2-body-feature-tit{
        font-size: 16px;
    }
    .page2-body-feature-items{
        line-height: 16px;
    }
    .page2-body-feature-item{
        font-size:14px;
    }


    /*page3*/
    .page3-body{
        transform-origin: 0% 10%;
        transform:scale(0.3,0.3);
        -webkit-transform-origin: -17% 10%;
        -webkit-transform: scale(0.25,0.25);
        top: 30%;
    }

    /*page4*/
    .page4-body{
        max-width: 979px;
        height: 370px ;
        background: url(../images/pc/page4/page4-body.png) no-repeat;
        background-size: 102%;
        position: relative;
    }
    .page4-items {
        width: 166px;
        position: absolute;
    }
    .page4-items-1{
        transform-origin: 0% 10%;
        transform: scale(0.9,0.9);

        -webkit-transform-origin: 0% 10%;
        -webkit-transform: scale(0.9,0.9);
        left: 0;
    }

    .page4-items-2{
        transform-origin: 0% 10%;
        transform: scale(0.9,0.9);

        -webkit-transform-origin: 0% 10%;
        -webkit-transform: scale(0.9,0.9);
        right: 0;
    }

    /*page5*/
    .page5-cont{
        color: #1F6D76 ;
        font-size: 12px;
        width: 90%;
    }
    .page5-footer-tit{
        font-size: 14px;
    }
    .page5-footer{
        top: 73%;
    }
    .page5-footer-items {
        margin-top: 10px;
    }
    .page5-footer-item{
        background-size: 100%;
        height: 37px;
        width: 44px;
    }

    /*footer*/
    .footer {
        font-size: 12px;
        line-height: 18px;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    /*page5*/
    .page5-body{
        transform-origin: -31% 10%;
        transform: scale(0.4,0.4);
        -webkit-transform-origin: -31% 10%;
        -webkit-transform: scale(0.4,0.4);
        top: 37%;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

    /*page1*/
    .page1-tit{
        width: 380px;
        background-size: 80% 80%;
    }
    .page1-tit h1{
        font-size: 22px;
    }
    .page1-tit p{
        font-size: 16px;
    }
    .page1-box{
        width: 113px;
        height: 88px;
        font-size: 14px;
        background-size: 100% 80%;
        padding-top: 10px;
        margin: 0 0 0 10px;
    }
    .page1-box-num{
        font-size: 21px;
    }

    /*page2*/
    .page2-body-feature-tit{
        font-weight: bold ;
        font-size: 22px;
        color: #65BEDE;
    }
    .page2-body-feature-items{
        max-width: 115px ;
        margin: 20px auto 0 auto ;
        line-height: 29px;
    }
    .page2-body-feature-item{
        list-style: dot;
        list-style-type: disc;
        color: #65BEDE;
        font-size: 16px;
    }
    .page2-body-feature{
        width: 156px;
        top: 108%;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    /*page1*/
    .page1-tit p {
        font-size: 17px;
    }

    .page1-box {
        margin-left: 18px;
    }

    /*page5*/
    .page5 .page5-tit {
        margin-top: 80px;
    }

    .page5-footer-tit {
        margin-top: 100px;
    }

    .page5-footer-items {
        margin-top: 10px;
    }

    .page5-footer-item {
        background-size: 100%;
        height: 37px;
        width: 61px;
    }
}
/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    /*page1*/
    .page1-box-num{
        font-size: 28px;
    }
    .page1-box{
        margin-left: 46px;
        margin-top: -69px;
        width: 196px;
        height: 93px;
        font-size: 16px;
        background-size: 100% 100%;
    }

    /*page2*/
    .page2-body{
        margin-top: 20px;
        width: 634px;
        background-size: 90%;
    }

    /*page3*/
    .page3-body{
        transform-origin: -75% 12%;
        transform: scale(0.6,0.6);
        -webkit-transform-origin: -75% 12%;
        -webkit-transform: scale(0.6,0.6);
        top: 35%;
    }

    /*page4*/
    .page4-body{
        max-width: 979px;
        height: 370px ;
        background: url(../images/pc/page4/page4-body.png) no-repeat;
        background-size: 102%;
    }
    /*page5*/
    .page5 .page-tit{
        top: 20%;
    }
    .page5-body{
        transform-origin: 53% -7%;
        transform: scale(0.5,0.5);
        -webkit-transform-origin: -187% -7%;
        -webkit-transform: scale(0.8,0.8);
        top: 42%;
    }
    .page5-footer-item {
        background-size: 100%;
        height: 55px;
        width: 131px;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}