<section id="gatherHeadlineListDetail_section" data-transition="cover">
    <header>
        <nav class="left">
            <a href="#" class="icon icon-leftArrow btn-back" data-target="back"></a>
        </nav>
        <h1 class="title">
            发现头条
        </h1>
    </header>
    <article class="active" id="gatherHeadlineDetail-article" data-scroll="false">
        头条内容
        <div class="bottomHeight"></div>
    </article>

    <footer>
        <a href="#layout_book_article">
    <i class="icon icon-search-goods"></i>
    搜物
</a>
<a href="#" data-target="back">
    <i class="icon icon-noText icon-leftArrow"></i>
</a>
<a href="#layout_book_article">
    <i class="icon icon-noText icon-rightArrow"></i>
</a>
<a href="#main_section" data-target="section">
    <i class="icon icon-noText icon-home"></i>
</a>
<a href="#" class="btn-refresh">
    <i class="icon icon-noText icon-refresh"></i>
</a>
    </footer>
</section>
<link rel="stylesheet" href="/buy//components/gatherHeadline/gatherHeadlineListDetail_section/gatherHeadlineListDetail_section.css">