<section id="warehouseDetailReplenishment_section" data-transition="slideUp">
    <header>
        <nav class="left">
            <a href="#" data-icon="undo" data-target="back">返回</a>
        </nav>
        <h1 class="title"></h1>

    </header>
    <article class="active warehouseDetailReplenishment_article" id="warehouseDetailReplenishment_article" data-scroll="false">

        <div class="scrollWrapper">
            <ul class="list warehouseDetailReplenishment-list">
                <!--<li data-icon="next" data-selected="selected">-->
                    <!--<div class="tag">进行中</div>-->
                    <!--<strong>补货中</strong>-->
                    <!--<div class="item-detail">-->
                        <!--<table class="item-detail-table">-->
                            <!--<tr>-->
                                <!--<td>陕西猕猴桃等等等</td>-->
                                <!--<td>1份5只</td>-->
                                <!--<td class="textRight">25 份</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>陕西猕猴桃等等等</td>-->
                                <!--<td>1份5只</td>-->
                                <!--<td class="textRight">25 份</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>陕西猕猴桃等等等</td>-->
                                <!--<td>1份5只</td>-->
                                <!--<td class="textRight">25 份</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="textRight">商品合计：</td>-->
                                <!--<td></td>-->
                                <!--<td class="textRight">170 份</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                        <!--<div class="textRight">-->
                            <!--<a class="button btn-modifyCount" href="#">-->
                                <!--确认-->
                            <!--</a>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</li>-->
                <!--<li data-icon="next" data-selected="selected">-->
                    <!--<div class="tag">进行中</div>-->
                    <!--<strong class="urgent">补货中-紧急</strong>-->
                <!--</li>-->
                <!--<li data-icon="next" data-selected="selected">-->
                    <!--<div class="tag">进行中</div>-->
                    <!--<strong>补货中</strong>-->
                <!--</li>-->
            </ul>
        </div>
    </article>
</section>
<link rel="stylesheet" href="/buy//components/warehouseManage/warehouseDetailReplenishment_section/warehouseDetailReplenishment_section.css">