/**
 * Created with WebStorm.
 * User: qiuyun
 * Date: 15-8-30
 * Time: 下午2:53
 * To change this template use File | Settings | File Templates.
 */
.userPic{
    display: block;
    margin: 0 auto;
}
.identity{
    width: 100px;
}