<section id="gatherIntelligentSearch_section" data-transition="cover">
    <header>
        <nav class="left">
            <a href="#" class="icon icon-leftArrow btn-back" data-target="back"></a>
        </nav>
        <h1 class="title">
            集智搜
        </h1>
        <!--<nav class="right">-->
            <!--<a href="#addDelivery_section" class="btn-addDelivery" data-target="section">-->

            <!--</a>-->
        <!--</nav>-->
    </header>

    <article class="grid vertical active" id="main_active" data-scroll="false">

        <div class="padding col-0">
            <input class="input-keywords" type="search" placeholder="请输入第一个关键词"/>
            <input class="input-keywords" type="search" placeholder="请输入第二个关键词"/>
            <input class="input-keywords" type="search" placeholder="请输入第三个关键词"/>
            <input class="input-keywords" type="search" placeholder="请输入第四个关键词"/>

            <div class="blankState">
                <div class="grid recommend">
                    <div class="col-1">货比三家 <span class="color-orange">*</span> 推荐有货电商</div>
                    <div class="col-1">
                        <a class="button-link" href="#">
                            进入
                        </a>
                    </div>
                </div>
                <div class="grid keywords">
                    <div class="col-1">
                        <a class="button white" href="#"></a>
                    </div>
                    <div class="col-1">
                        <a class="button white" href="#"></a>
                    </div>
                    <div class="col-1">
                        <a class="button white" href="#"></a>
                    </div>
                </div>

                <div class="websiteList">
                    <div class="websiteList-tit">
                        有<span class="color-blue">*</span>货<span class="color-orange">*</span>电<span class="color-blue">*</span>商
                    </div>
                    <div class="websiteList-cont">

                    </div>
                </div>
            </div>

        </div>
        <div class="enterKeywordsStats">
            <div class="grid searchBtns">
                <div class="col-0">
                    <a class="button icon pencil btn-edit tabBtn active" href="#"></a>
                </div>
                <div class="col-0">
                    <a class="button icon list btn-list tabBtn" href="#"></a>
                </div>
                <div class="col-1">
                    <a class="button peter-river button-lookup fr" href="#gatherIntelligentSearchAll_section" data-target="section">
                        查找有货电商
                    </a>
                </div>
            </div>
            <div class="tabCont editCont">
                <div class="hot-words">
                    <div class="grid">
                        <div class="col-1">
                            <button class="button white">
                                热搜:
                            </button>
                        </div>
                        <div class="col-1">
                            <a class="button clouds" href="#">
                                女包
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="button clouds" href="#">
                                纸尿布
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="button clouds" href="#">
                                洗衣机
                            </a>
                        </div>
                    </div>
                    <div class="grid mt10">
                        <div class="col-1">
                            <a class="button clouds" href="#">
                                手链
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="button clouds" href="#">
                                女装
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="button clouds" href="#">
                                热水瓶
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="button clouds" href="#">
                                羽绒服
                            </a>
                        </div>
                    </div>
                </div>
                <div class="history-words">
                    <div class="grid">
                        <div class="col-1">
                            <button class="button white">
                                历史记录
                            </button>
                        </div>
                        <div class="col-1">
                            <a class="button clouds btn-delAll fr" href="#">
                                清空
                            </a>
                        </div>
                    </div>
                    <ul class="history-words-list">
                        <li class="grid history-words-list-item">
                            <div class="col-1">
                                手机保护套1
                            </div>
                            <div class="col-1 textRight btn-del">
                                <a class="btn-del" href="#">
                                    ×
                                </a>
                            </div>
                        </li>
                        <li class="grid history-words-list-item">
                            <div class="col-1">
                                手机保护套2
                            </div>
                            <div class="col-1 textRight btn-del">
                                <a class="btn-del" href="#">
                                    ×
                                </a>
                            </div>
                        </li>
                        <li class="grid history-words-list-item">
                            <div class="col-1">
                                手机保护套3
                            </div>
                            <div class="col-1 textRight btn-del">
                                <a class="btn-del" href="#">
                                    ×
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tabCont category-viewport listCont col-1">
                <div class="grid">
                    <div class="col-0">
                        <div id="rootList" class="category-tabBtns" data-scroll="false">
                            <div class="scrollWrapper">
                                <ul class="list">
                                    <li class="category-tabBtn category-tabBtn-1 active">
                                        家具家纺
                                    </li>
                                    <li class="category-tabBtn category-tabBtn-2">
                                        家具家纺
                                    </li>
                                    <li class="category-tabBtn category-tabBtn-3">
                                        家具家纺
                                    </li>
                                    <li class="category-tabBtn category-tabBtn-4">
                                        家具家纺
                                    </li>
                                    <li class="category-tabBtn category-tabBtn-5">
                                        家具家纺
                                    </li>
                                    <li class="category-tabBtn category-tabBtn-6">
                                        家具家纺
                                    </li>
                                    <li class="category-tabBtn category-tabBtn-7">
                                        家具家纺
                                    </li>
                                    <li class="category-tabBtn category-tabBtn-8">
                                        家具家纺
                                    </li>
                                    <li class="category-tabBtn category-tabBtn-9">
                                        家具家纺
                                    </li>
                                    <li class="category-tabBtn category-tabBtn-10">
                                        家具家纺
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="category-tabCont">
                            <div class="scrollWrapper">
                                <div class="button clouds category-tabCont-tit">
                                    常用分类
                                </div>
                                <div class="grid">
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                    <div class="col-1">
                                        <a class="category-tabCont-link" href="#">
                                            <img class="category-tabCont-link-img" src="/buy//static/image/category-tabCont-link-img.jpg" alt=""/>
                                            收纳用品
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

</section>
<link rel="stylesheet" href="/buy//components/gatherIntelligentSearch/gatherIntelligentSearch_section/gatherIntelligentSearch_section.css">