<section id="change_section" data-transition="cover">
    <header>
        <nav class="left">
            <a class="btn-back icon icon-checkmark-circle" href="#" data-target="back"></a>
        </nav>
        <h1 class="title">
            更换货比三家商家
        </h1>
        <!--<nav class="right">-->
            <!--<a href="#addDelivery_section" class="btn-addDelivery" data-target="section">-->

            <!--</a>-->
        <!--</nav>-->
    </header>

    <article class="active" id="change_section_active" data-scroll="false">
        <div class="compare-bar grid">
            <div class="col-0 tit">
                货 <span class="orange-bg">比</span> <span class="smaller-text">三家</span>
            </div>
            <div class="col-0 arrow">

            </div>
            <div class="col-1 buttons grid">
                <div class="col-1">
                    <a class="button clouds tabBtn" href="#">
                        电商
                    </a>
                </div>
                <div class="col-1">
                    <a class="button clouds tabBtn" href="#">
                        惠购
                    </a>
                </div>
                <div class="col-1">
                    <a class="button clouds tabBtn" href="#">
                        生活
                    </a>
                </div>
                <div class="col-1">
                    <a class="button clouds tabBtn" href="#">
                        海淘
                    </a>
                </div>
            </div>
        </div>
        <div class="tabCont">
            <div class="button-links grid">
                <div class="col-1">
                    <a class="button-link button-link-active btn-selected" href="#">
                        淘宝
                    </a>
                    <a class="button-link button-link-active none btn-replace" href="#">
                        替换
                    </a>
                </div>
                <div class="col-1">
                    <a class="button-link button-link-active btn-selected" href="#">
                        京东
                    </a>
                    <a class="button-link button-link-active none btn-replace" href="#">
                        替换
                    </a>
                </div>
                <div class="col-1">
                    <a class="button-link button-link-active btn-selected" href="#">
                        亚马逊
                    </a>
                    <a class="button-link button-link-active none btn-replace" href="#">
                        替换
                    </a>
                </div>
            </div>
            <div class="text-links">
                <div class="grid">
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            淘宝
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            京东
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            当当网
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            亚马逊
                        </a>
                    </div>
                </div>
                <div class="grid mt10">
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            聚美优品
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            乐峰网
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            梦芭莎
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            凡客
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabCont tabCont-cheepBuy">
            <div class="button-links grid">
                <div class="col-1">
                    <a class="button-link button-link-downArrow-active" href="#">
                        聚划算<br/>
                        <span class="gray">
                            淘宝
                        </span>
                    </a>
                </div>
                <div class="col-1">
                    <a class="button-link button-link-downArrow-active" href="#">
                        聚划算<br/>
                        <span class="gray">
                            淘宝
                        </span>
                    </a>
                </div>
                <div class="col-1">
                    <a class="button-link button-link-downArrow-active" href="#">
                        聚划算<br/>
                        <span class="gray">
                            淘宝
                        </span>
                    </a>
                </div>
            </div>
            <div class="text-links">
                <div class="grid">
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            淘宝
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            京东
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            当当网
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            亚马逊
                        </a>
                    </div>
                </div>
                <div class="grid mt10">
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            聚美优品
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            乐峰网
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            梦芭莎
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            凡客
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabCont">
            <div class="button-links grid">
                <div class="col-1">
                    <a class="button-link button-link-active" href="#">
                        淘宝
                    </a>
                </div>
                <div class="col-1">
                    <a class="button-link button-link-active" href="#">
                        京东
                    </a>
                </div>
                <div class="col-1">
                    <a class="button-link button-link-active" href="#">
                        亚马逊
                    </a>
                </div>
            </div>
            <div class="text-links">
                <div class="grid">
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            淘宝
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            京东
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            当当网
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            亚马逊
                        </a>
                    </div>
                </div>
                <div class="grid mt10">
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            聚美优品
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            乐峰网
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            梦芭莎
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            凡客
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabCont">
            <div class="button-links grid">
                <div class="col-1">
                    <a class="button-link button-link-active" href="#">
                        淘宝
                    </a>
                </div>
                <div class="col-1">
                    <a class="button-link button-link-active" href="#">
                        京东
                    </a>
                </div>
                <div class="col-1">
                    <a class="button-link button-link-active" href="#">
                        亚马逊
                    </a>
                </div>
            </div>
            <div class="text-links">
                <div class="grid">
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            淘宝
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            京东
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            当当网
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            亚马逊
                        </a>
                    </div>
                </div>
                <div class="grid mt10">
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            聚美优品
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            乐峰网
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            梦芭莎
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds" href="#">
                            凡客
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="searchbar grid">
            <div class="col-0">
                <label for="search" class="button clouds label">
                    全部
                </label>
            </div>
            <div class="search-input col-1">
                <button class="icon search"></button>
                <input type="search" id='search' class="input-search" maxlength="11" placeholder='请输入购物网站名称'/>
            </div>
        </div>

        <div class="padding">
            <div class="text-links text-icon-links">
                <div class="grid">
                    <div class="col-1">
                        <a class="text-link" href="#">
                            <i class="icon icon-all"></i>
                            综合
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link" href="#">
                            <i class="icon icon-cloth"></i>
                            服装
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link" href="#">
                            <i class="icon icon-beauty"></i>
                            美容
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link" href="#">
                            <i class="icon icon-jewellery"></i>
                            珠宝
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link" href="#">
                            <i class="icon icon-digital"></i>
                            数码
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link" href="#">
                            <i class="icon icon-sexy"></i>
                            情趣
                        </a>
                    </div>
                </div>
                <div class="grid mt10">
                    <div class="col-1">
                        <a class="text-link" href="#">
                            <i class="icon icon-groupBuy"></i>
                            团购
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link" href="#">
                            <i class="icon icon-house"></i>
                            居家
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link" href="#">
                            <i class="icon icon-medicine"></i>
                            药店
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link" href="#">
                            <i class="icon icon-food"></i>
                            食品
                        </a>
                    </div>
                    <div class="col-1">

                    </div>
                    <div class="col-1">

                    </div>
                </div>
            </div>

            <div class="text-links text-links-bottom search-result">
                <div class="grid">
                    <div class="col-1">
                        <a class="text-link-button clouds color-orange search-result-word" href="#">
                            淘宝
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds search-result-word" href="#">
                            京东
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds search-result-word" href="#">
                            当当网
                        </a>
                    </div>
                    <div class="col-1">
                        <a class="text-link-button clouds search-result-word" href="#">
                            亚马逊
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </article>

</section>
<link rel="stylesheet" href="/buy//components/gatherSearch/change_section/change_section.css">