/**
 * Created with PhpStorm.
 * User: Administrator
 * Date: 2015/10/12
 * Time: 13:20
 * To change this template use File | Settings | File Templates.
 */
/*body {*/
    /*background-color: #f1f1f1;*/
    /*font: 12px/1.5 "microsoft yahei", "simhei", "宋体", tahoma, arial, sans-serif;*/
/*}*/

/*.bg {*/
    /*min-width: 960px;*/
    /*background: url(../images/bg.jpg) no-repeat center top;*/
/*}*/

/*.container {*/
    /*width: 960px;*/
    /*margin: 0 auto;*/
/*}*/
.list-block{
    margin: 0;
}
.list-block .item-content{
    padding-right: .75rem;
}
/*.infinite-scroll-preloader {*/
    /*margin-top:-20px;*/
/*}*/

.none{
    display: none;
}