<section id="main_section" data-transition="cover">
    <!--<header>-->
        <!--<nav class="left">-->
            <!--<a data-icon="user" href="#user_section" data-target="section"></a>-->
        <!--</nav>-->
        <!--<h1 class="title"></h1>-->
        <!--<nav class="right">-->
            <!--<a href="#addDelivery_section" class="btn-addDelivery" data-target="section">-->
                <!--新增派送员-->
            <!--</a>-->
        <!--</nav>-->
    <!--</header>-->

    <article class="active" id="main_active" data-scroll="false">
        <div id="main_banner" class="slider">
            <div>
                <div class="sliderImg">
                    <img src="/buy//components/main_section/1.png">
                </div>
                <div class="sliderImg">
                    <img src="/buy//components/main_section/1.png">
                </div>
                <div class="sliderImg">
                    <img src="/buy//components/main_section/1.png">
                </div>
                <div class="sliderImg">
                    <img src="/buy//components/main_section/1.png">
                </div>
            </div>
        </div>
        <hr class="hr"/>
        <div class="nav-icons">
            <div class="grid">
                <div class="col-1">
                    <a class="nav-icon nav-icon-brand" href="#">
                        集品牌
                    </a>
                </div>
                <div class="col-1">
                    <a class="nav-icon nav-icon-search" href="#search_section" data-target="section">
                        集搜索
                    </a>
                </div>
                <div class="col-1">
                    <a class="nav-icon nav-icon-intelligent-search" href="#gatherIntelligentSearch_section" data-target="section">
                        集智搜
                    </a>
                </div>
                <div class="col-1">
                    <a class="nav-icon nav-icon-main" href="#gatherMain_section" data-target="section">
                        集首页
                    </a>
                </div>
                <div class="col-1">
                    <a class="nav-icon nav-icon-cheep-buy" href="#gatherCheapBuy_section" data-target="section">
                        集惠购
                    </a>
                </div>
            </div>
            <div class="grid mt5">
                <div class="col-1">
                    <a class="nav-icon nav-icon-top-line" href="#gatherHeadlineList_section" data-target="section">
                        集头条
                    </a>
                </div>
                <div class="col-1">
                    <a class="nav-icon nav-icon-act" href="#gatherActsList_section" data-target="section">
                        集活动
                    </a>
                </div>
                <div class="col-1">
                    <a class="nav-icon nav-icon-group-buy" href="#gatherGroupBuy_section" data-target="section">
                        集团购
                    </a>
                </div>
                <div class="col-1">
                    <a class="nav-icon nav-icon-sea-buy" href="#gatherSeaBuy_section" data-target="section">
                        集海淘
                    </a>
                </div>
                <div class="col-1">
                    <a class="nav-icon nav-icon-account" href="#accountManage_section" data-target="section">
                        集账号
                    </a>
                </div>
            </div>
        </div>
        <hr class="hr"/>
        <div class="compare-bar grid">
            <div class="col-0 tit">
                货 <span class="orange-bg">比</span> <span class="smaller-text">三家</span>
            </div>
            <div class="col-0 arrow">

            </div>
            <div class="col-1 buttons grid">
                <div class="col-1">
                    <a class="button dark-orange" href="#">
                        电商
                    </a>
                </div>
                <div class="col-1">
                    <a class="button clouds" href="#">
                        惠购
                    </a>
                </div>
                <div class="col-1">
                    <a class="button clouds" href="#">
                        生活
                    </a>
                </div>
                <div class="col-1">
                    <a class="button clouds" href="#">
                        海淘
                    </a>
                </div>
            </div>
        </div>
        <div class="button-links grid">
            <div class="col-1">
                <a class="button-link button-link-active" href="#">
                    淘宝
                </a>
            </div>
            <div class="col-1">
                <a class="button-link button-link-active" href="#">
                    京东
                </a>
            </div>
            <div class="col-1">
                <a class="button-link button-link-active" href="#">
                    亚马逊
                </a>
            </div>
        </div>
        <div class="text-links">
            <div class="grid">
                <div class="col-1">
                    <a class="text-link-button white color-orange" href="#">
                        常用网站
                    </a>
                </div>
                <div class="col-1">
                    <a class="text-link-button clouds" href="#">
                        京东
                    </a>
                </div>
                <div class="col-1">
                    <a class="text-link-button clouds" href="#">
                        当当网
                    </a>
                </div>
                <div class="col-1">
                    <a class="text-link-button clouds" href="#">
                        亚马逊
                    </a>
                </div>
            </div>
            <div class="grid mt10">
                <div class="col-1">
                    <a class="text-link-button clouds" href="#">
                        聚美优品
                    </a>
                </div>
                <div class="col-1">
                    <a class="text-link-button clouds" href="#">
                        乐峰网
                    </a>
                </div>
                <div class="col-1">
                    <a class="text-link-button clouds" href="#">
                        梦芭莎
                    </a>
                </div>
                <div class="col-1">
                    <a class="text-link-button clouds" href="#change_section" data-target="section">
                        • • •
                    </a>
                </div>
            </div>

        </div>
        <div class="bottomHeight"></div>
    </article>
    <footer>
        <a href="#layout_book_article">
            <i class="icon icon-person-buy"></i>
            集人购
        </a>
        <a href="#main_section" class="active" data-target="section">
            <i class="icon icon-search-goods"></i>
            搜物
        </a>
        <a href="#searchToBuy_section" data-target="section">
            <i class="icon icon-before-buy"></i>
            待购
        </a>
        <a href="#layout_book_article">
            <i class="icon icon-user-center"></i>
            个人中心
        </a>
    </footer>
</section>
<link rel="stylesheet" href="/buy//components/main_section/main_section.css">