<div class="container-fluid container-userCenter">
    <form class="form-horizontal" method="post" id="userInfoForm">
        <fieldset>
            <legend>个人中心</legend>
            <img class="userPic" src="static/images/userPic.png" alt=""/>
            <div class="control-group control-group-name tc">
                <label class="control-label" for="name">姓名:</label>
                <input type="text" class="input-xlarge input-name" id="name" name="name" required="required" data-vd-msg="请填写姓名">
                <select class="select select-sex" name="sex" id="sex">
                    <option value="先生">先生</option>
                    <option value="女士">女士</option>
                </select>
            </div>
            <div class="control-group control-group-identity tc">
                <label class="control-label" for="identity">身份:</label>

                <select class="select select-identity" name="identity" id="identity">
                    <option value="电工">电工</option>
                    <option value="瓦工">瓦工</option>
                    <option value="木工">木工</option>
                    <option value="油漆工">油漆工</option>
                    <option value="保洁">保洁</option>
                    <option value="设计师">设计师</option>
                    <option value="监工">监工</option>
                    <option value="业主">业主</option>
                </select>
            </div>
            <div class="control-group control-group-email tc">
                <label class="control-label" for="email">邮箱:</label>
                <input type="text" class="input-xlarge input-email" id="email" name="email" placeholder="可不填">
            </div>
            <div class="control-group control-group-description tc">
                <label class="control-label" for="description">需求:</label>
                <textarea class="textarea textarea-description" id="description" maxlength="200" name="description" required="required" data-vd-msg="请填写您的需求！"></textarea>
                <p>需求描述请限制在200以内！</p>
            </div>
            <div class="form-actions form-actions-registerBtn tc">
                <a href="javascript:;" class="btn btn-primary btn-save">保存</a>
            </div>
        </fieldset>
    </form>
</div>

<link rel="stylesheet" type="text/css" href="components/userCenter/userCenter.css"/>