<section id="main_section" class="active" data-target="section">
    <header>
        <nav class="left">
            <a id="menu" data-icon="menu" href="#menu" data-target="menu"></a>
        </nav>
        <h1 class="title">首页</h1>
    </header>
    <article class="active" data-scroll="false">

        <!--<form class="input-group form-main" id="mainForm">-->
            <!--<div class="input-row">-->
                <!--<input type="text" placeholder="搜索，比如 手机号" class="input input-search" id="searchInput" name="searchText">-->

                <!--<select class="select select-identity" name="identity" id="identity">-->
                    <!--<option value="0">业主</option>-->
                    <!--<option value="1">设计师</option>-->
                    <!--<option value="2">监理</option>-->
                    <!--<option value="3">电工</option>-->
                    <!--<option value="4">瓦工</option>-->
                    <!--<option value="5">木工</option>-->
                    <!--<option value="6">油漆工</option>-->
                    <!--<option value="7">保洁</option>-->
                <!--</select>-->

                <!--<select class="select select-distance" name="distance" id="distance">-->
                    <!--<option value="1">附近1公里</option>-->
                    <!--<option value="2">附近2公里</option>-->
                    <!--<option value="5">附近5公里</option>-->
                    <!--<option value="0">不限距离</option>-->
                <!--</select>-->
            <!--</div>-->

        <!--</form>-->
        <div class="searchbar grid">
            <div class="search-input col-4">
                <label class="icon search" for="search"></label>
                <input type="search" id='search' class="input-search" maxlength="11" placeholder='搜索，比如 手机号'/>
            </div>
            <div class="col-1">
                <button type="button" class="button button-fill btn-search">搜索</button>
            </div>
        </div>
        <div class="map" id="map">

        </div>
    </article>
</section>
<link rel="stylesheet" type="text/css" href="main_section.css"/>