<section id="gatherHeadlineList_section" data-transition="slideUp">
    <header>
        <nav class="left">
            <a data-icon="previous" href="#" class="btn-back" data-target="back"></a>
        </nav>
        <h1 class="title">
            发现头条
        </h1>
    </header>
    <nav class="header-secondary">
        <div class="tabBtns grid">
            <div class="col-1">
                <a class="tabBtn active" href="#gatherHeadline-article-1">
                    最火
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#gatherHeadline-article-2">
                    美容
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#gatherHeadline-article-3">
                    母婴
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#gatherHeadline-article-4">
                    爱穿搭
                </a>
            </div>
            <div class="col-1">
                <a class="tabBtn" href="#gatherHeadline-article-5">
                    数码
                </a>
            </div>
        </div>
    </nav>

    <article class="tabCont active" id="gatherHeadline-article-1" data-scroll="false">
        <ul class="tabContList">
            <li class="tabContList-item">
                <a class="grid" href="#gatherHeadlineListDetail_section" data-target="section">
                    <div class="col-0">
                        <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                    </div>
                    <div class="col-1">
                        <h2 class="tabContList-item-tit">
                            我们应该买什么？
                        </h2>
                        <div class="tabContList-item-info grid">
                            <div class="col-1">
                                来源：淘宝
                            </div>
                            <div class="col-1">
                                <span class="icon icon-eye"></span>456
                            </div>
                            <div class="col-1">
                                <span class="icon icon-good"></span>300
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="tabContList-item grid">
                <a class="grid" href="#gatherHeadlineListDetail_section" data-target="section">
                    <div class="col-0">
                        <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                    </div>
                    <div class="col-1">
                        <h2 class="tabContList-item-tit">
                            我们应该买什么？
                        </h2>
                        <div class="tabContList-item-info grid">
                            <div class="col-1">
                                来源：淘宝
                            </div>
                            <div class="col-1">
                                <span class="icon icon-eye"></span>456
                            </div>
                            <div class="col-1">
                                <span class="icon icon-good"></span>300
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="bottomHeight"></div>
    </article>
    <article class="tabCont" id="gatherHeadline-article-2" data-scroll="false">
        <ul class="tabContList">
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么2？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="bottomHeight"></div>
    </article>
    <article class="tabCont" id="gatherHeadline-article-3" data-scroll="false">
        <ul class="tabContList">
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="bottomHeight"></div>
    </article>
    <article class="tabCont" id="gatherHeadline-article-4" data-scroll="false">
        <ul class="tabContList">
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="bottomHeight"></div>
    </article>
    <article class="tabCont" id="gatherHeadline-article-5" data-scroll="false">
        <ul class="tabContList">
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
            <li class="tabContList-item grid">
                <div class="col-0">
                    <img class="tabContList-item-pic" src="/buy//components/gatherHeadline/gatherHeadlineList_section/1.png" alt=""/>
                </div>
                <div class="col-1">
                    <h2 class="tabContList-item-tit">
                        我们应该买什么？
                    </h2>
                    <div class="tabContList-item-info grid">
                        <div class="col-1">
                            来源：淘宝
                        </div>
                        <div class="col-1">
                            <span class="icon icon-eye"></span>456
                        </div>
                        <div class="col-1">
                            <span class="icon icon-good"></span>300
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="bottomHeight"></div>
    </article>

    <footer>
        <a href="#layout_book_article">
    <i class="icon icon-search-goods"></i>
    搜物
</a>
<a href="#layout_book_article">
    <i class="icon previous"></i>
</a>
<a href="#layout_book_article">
    <i class="icon next"></i>
</a>
<a href="#main_section" data-target="section">
    <i class="icon home"></i>
</a>
<a href="#layout_book_article">
    <i class="icon loop"></i>
</a>
    </footer>
</section>
<link rel="stylesheet" href="/buy//components/gatherHeadline/gatherHeadlineList_section/gatherHeadlineList_section.css">