<section id="accountDetail_section" data-transition="cover">
    <header>
        <div class="button-links grid">
            <div class="col-0">
                <a href="#" class="icon cancel-circle btn-back" data-target="back"></a>
            </div>
            <div class="col-1 text">
               我的淘宝
            </div>
            <div class="col-0">

            </div>
        </div>
        <!--<nav class="right">-->
            <!--<a href="#addDelivery_section" class="btn-addDelivery" data-target="section">-->

            <!--</a>-->
        <!--</nav>-->
    </header>

    <article class="active" id="" data-scroll="false">
        <iframe src="http://m.tmall.com" frameborder="0"></iframe>
        <div class="bottomHeight"></div>
    </article>

    <footer>
        <a href="#layout_book_article">
    <i class="icon icon-search-goods"></i>
    搜物
</a>
<a href="#" data-target="back">
    <i class="icon icon-noText icon-leftArrow"></i>
</a>
<a href="#layout_book_article">
    <i class="icon icon-noText icon-rightArrow"></i>
</a>
<a href="#main_section" data-target="section">
    <i class="icon icon-noText icon-home"></i>
</a>
<a href="#" class="btn-refresh">
    <i class="icon icon-noText icon-refresh"></i>
</a>
    </footer>
</section>
<link rel="stylesheet" href="/buy//components/gatherAccount/accountDetail_section/accountDetail_section.css">