<section id="deliveryDetail_section" data-transition="slideUp">
    <header>
        <nav class="left">
            <a href="#" data-icon="undo" data-target="back">返回</a>
        </nav>
        <h1 class="title">黄小厨</h1>
        <nav class="right">
            <a href="#checkPerformance_section" data-target="section">查看绩效</a>
        </nav>
    </header>
    <article class="active deliveryDetail_article" id="deliveryDetail_article" data-scroll="false">

        <div class="scrollWrapper">
            <div class="deliveryInfo">
                <table class="deliveryInfo-table">
                    <tr>
                        <td class="staffName">
                            <!--黄小厨-->
                        </td>
                        <td class="repoName">
                            <!--三十度分仓-->
                        </td>
                        <td class="staffMobile">
                            <!--13235232352-->
                        </td>
                    </tr>
                </table>
            </div>

            <div class="delivery-detail">
                <div class="delivery-detail-tit">
                    未派送订单：
                    <span class="totalOrders"></span>
                </div>
                <ul class="list notDelivery-order-list">
                    <!--<li data-icon="next" data-selected="selected">-->
                        <!--<strong>-->
                            <!--XXX小区11号楼2402<br/>-->
                            <!--买家：13235235235<br/>-->
                            <!--5 份 陕西猕猴桃陕西猕猴桃<br/>-->
                            <!--（5个装）-->
                        <!--</strong>-->
                        <!--<div class="tag">-->
                            <!--已用时:<br/>-->
                            <!--1天1时24分-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li data-icon="next" data-selected="selected">-->
                        <!--<strong>-->
                            <!--XXX小区11号楼2402<br/>-->
                            <!--买家：13235235235<br/>-->
                            <!--5 份 陕西猕猴桃陕西猕猴桃<br/>-->
                            <!--（5个装）-->
                        <!--</strong>-->
                        <!--<p>-->
                            <!--备注：要熟一点的，晚上16点之后再派送-->
                        <!--</p>-->
                        <!--<div class="tag">-->
                            <!--已用时:<br/>-->
                            <!--1天1时24分-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li data-icon="next" data-selected="selected">-->
                        <!--<strong>-->
                            <!--XXX小区11号楼2402<br/>-->
                            <!--买家：13235235235<br/>-->
                            <!--5 份 陕西猕猴桃陕西猕猴桃<br/>-->
                            <!--（5个装）-->
                        <!--</strong>-->
                        <!--<div class="tag">-->
                            <!--已用时:<br/>-->
                            <!--1天1时24分-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>

            <div class="bottomHeight"></div>
        </div>
    </article>
</section>
<link rel="stylesheet" href="/buy//components/deliveryManage/deliveryDetail_section/deliveryDetail_section.css">