/**
 * Created with PhpStorm.
 * User: Administrator
 * Date: 2015/10/28
 * Time: 13:19
 * To change this template use File | Settings | File Templates.
 */
.form-login{
     margin: 60px 0 0 0;
 }
.btn-login{
    margin: 60px 0 0 0;
}
.form-login .input-row{

}
.form-link{
    display: block;
    color: #000;
    margin: 15px 0 0 0;
}