<section id="warehouseDetail_section"  data-transition="slideUp">
    <header>
        <nav class="left">
            <a href="#" data-icon="undo" data-target="back">返回</a>
        </nav>
        <h1 class="title">三十度分仓</h1>
        <nav class="right">
            <a href="#" data-target="section">补货中(<span></span>)</a>
        </nav>
    </header>
    <article class="active warehouseDetail_article" id="warehouseDetail_article" data-scroll="false">

        <div class="scrollWrapper" id="warehouseDetail_ItemsWrap">
            <div class="area-info">
                <table class="areaInfo-table">
                    <!--<tr>-->
                        <!--<td>仓库收货人</td>-->
                        <!--<td class="textRight">-->
                            <!--黄小厨(13235232352)<br/>-->
                            <!--陈小厨(13435232352)-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>负责小区：</td>-->
                        <!--<td class="textRight">-->
                            <!--水墨三十度<br/>-->
                            <!--水墨三十度-->
                        <!--</td>-->
                    <!--</tr>-->
                </table>
            </div>

            <div class="item-detail">
                <div class="item-detail-tit">
                    本仓库商品清单
                </div>
                <form action="" class="item-detail-form">
                    <table class="item-detail-table">
                        <!--<tr>-->
                            <!--<th>商品名称</th>-->
                            <!--<th>今日已售</th>-->
                            <!--<th class="textCenter">库存剩余</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>陕西猕猴桃等等等</td>-->
                            <!--<td>1份5只</td>-->
                            <!--<td class="textCenter">-->
                                <!--25份-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>陕西猕猴桃等等等</td>-->
                            <!--<td>1份5只</td>-->
                            <!--<td class="textCenter">-->
                                <!--25份-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>-->
                                <!--陕西猕猴桃等等等-->
                            <!--</td>-->
                            <!--<td>1份5只</td>-->
                            <!--<td class="textCenter">-->
                                <!--25份-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="textRight">商品合计：</td>-->
                            <!--<td>170份</td>-->
                            <!--<td class="textCenter">-->
                                <!--170份-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td class="textCenter red">-->
                                <!--缺5份-->
                            <!--</td>-->
                        <!--</tr>-->
                    </table>
                </form>
            </div>
            <div class="bottomHeight"></div>
        </div>
    </article>
    <footer class="warehouseDetail-footer">
        <a href="#modifyCount_section" data-target="section" class="warehouseDetail-footer-btn btn-modify">修改库存</a>
        <a href="#applyReplenishment_section" data-target="section" class="warehouseDetail-footer-btn btn-apply">申请补货</a>
    </footer>
</section>
<link rel="stylesheet" href="/buy//components/warehouseManage/warehouseDetail_section/warehouseDetail_section.css">