<section id="searchResultAllWebDetail_section" data-transition="cover">
    <header>
        <a class="button icon icon-cancel-circle-active btn-cancel" href="#" data-target="back"></a>
        <button class="button button-link button-link-equal-active">
            <span class="color-orange">浏览</span>&nbsp;&nbsp;&nbsp;&nbsp;当当网
        </button>
        <!--<nav class="right">-->
            <!--<a href="#addDelivery_section" class="btn-addDelivery" data-target="section">-->

            <!--</a>-->
        <!--</nav>-->
    </header>

    <article class="active" id="" data-scroll="false">
        <iframe src="http://m.tmall.com" frameborder="0"></iframe>
    </article>
</section>
<link rel="stylesheet" href="/buy//components/gatherSearch/searchResultAllWebDetail_section/searchResultAllWebDetail_section.css">