<section id="modifyCount_section" data-transition="slideUp">
    <header>
        <nav class="left">
            <a href="#" data-icon="undo" class="btn-back" data-target="back">返回</a>
        </nav>
        <h1 class="title">修改库存</h1>
    </header>
    <article class="active modifyCount-article" id="modifyCount_article" data-scroll="false">

        <div class="scrollWrapper" id="modifyCount_ItemsWrap">
            <div class="item-detail">
                <div class="item-detail-tit">
                    <!--三十度分仓-->
                </div>
                <form action="" class="item-detail-form">
                    <table class="item-detail-table">
                        <!--<tr>-->
                            <!--<th>商品名称</th>-->
                            <!--<th></th>-->
                            <!--<th class="textCenter">库存剩余</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>陕西猕猴桃等等等</td>-->
                            <!--<td>1份5只</td>-->
                            <!--<td class="textCenter">-->
                                <!--<input class="item-detail-form-input" value="25" type="text"/>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>陕西猕猴桃等等等</td>-->
                            <!--<td>1份5只</td>-->
                            <!--<td class="textCenter">-->
                                <!--<input class="item-detail-form-input" value="25" type="text"/>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>陕西猕猴桃等等等</td>-->
                            <!--<td>1份5只</td>-->
                            <!--<td class="textCenter">-->
                                <!--<input class="item-detail-form-input" value="25" type="text"/>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="textRight">商品合计：</td>-->
                            <!--<td></td>-->
                            <!--<td class="textCenter">-->
                                <!--170份-->
                            <!--</td>-->
                        <!--</tr>-->
                    </table>
                    <textarea name="changeReason" id="changeReason" class="textarea" cols="30" maxlength="200" placeholder="请输入修改库存理由" rows="5"></textarea>
                </form>
            </div>
        </div>
        <div class="bottomHeight"></div>
    </article>

    <footer class="modifyCount_footer">
        <a href="#" class="modifyCount-footer-btn btn-modify">修改</a>
    </footer>

</section>
<link rel="stylesheet" href="/buy//components/warehouseManage/modifyCount_section/modifyCount_section.css">