<section id="user_section" class="active" data-transition="slideUp">
    <header>
        <nav class="left">
            <a href="#" data-icon="undo" data-target="back">返回</a>
        </nav>
        <h1 class="title">个人</h1>
    </header>
    <article class="active user_article" id="user_article" data-scroll="false">

        <div class="scrollWrapper" id="user_ItemsWrap">
            <ul class="list">
                <li>
                    <div class="grid">
                        <div class="col-1">
                            姓名
                        </div>
                        <div class="col-1 textRight name">

                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid">
                        <div class="col-1">
                            手机号
                        </div>
                        <div class="col-1 textRight mobile">

                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid">
                        <div class="col-1">
                            岗位
                        </div>
                        <div class="col-1 textRight role">

                        </div>
                    </div>
                </li>
                <li data-selected="selected">
                    <i class="icon next"></i>
                    <a href="#modifyPassword_section" data-target="section">修改密码</a>
                </li>
            </ul>
        </div>

        <footer>
            <a href="#" id="logout" class="btn-loginOut">退出</a>
        </footer>

    </article>
</section>
<link rel="stylesheet" href="/buy//components/user_section/user_section.css">