/**
 * Created with WebStorm.
 * User: qiuyun
 * Date: 15-8-30
 * Time: 下午2:25
 * To change this template use File | Settings | File Templates.
 */
*{
    -webkit-user-select: none;
}
body,header,h1{
    font-family: "Microsoft Yahei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Tahoma", "Hiragino Sans GB", "STHeiti" !important;
}
input,textarea{
    -webkit-user-select: text;
}
.noborder{
    border: 0 !important;
}
.textCenter{
    text-align: center;
}
.menuLink{
    text-align: center;
}
#jingle_toast{
    top: 30%;
}
.cutText{
    width:65%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}
.red{
    color: red;
}
