body{
    overflow:hidden;
}
.appPage{
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    flex-direction: column;
    height: 100%;
    border: 1px solid #fff;
    background-color:green;
}
.submit{
    display:block;
    width:100px;
    height:20px;
    line-height:20px;
    text-decoration:none;
    text-align:center;
    background-color:#ccc;
    color:#000;
}
#allmap{height:300px;width:100%;}