/**
 * Created with WebStorm.
 * User: qiuyun
 * Date: 15-8-30
 * Time: 下午2:25
 * To change this template use File | Settings | File Templates.
 */
.container-register{

}
.container-register .logo{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
