<div class="container-fluid container-register">
    <form class="form-horizontal" method="post" id="registerForm">
        <fieldset>
            <legend>注册</legend>
            <div class="control-group control-group-cellphone tc">
                <label class="control-label" for="username">手机号:</label>
                <input type="text" class="input-xlarge" id="username" name="username">

            </div>
            <div class="control-group control-group-password tc">
                <label class="control-label" for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码:</label>
                <input type="password" class="input-xlarge" id="password" name="password">

            </div>
            <div class="form-actions form-actions-registerBtn tc">
                <button type="submit" class="btn btn-primary btn-register">注册</button>
            </div>
        </fieldset>
    </form>
</div>
<link rel="stylesheet" type="text/css" href="components/register/register.css"/>