<section id="checkPerformance_section" data-transition="slideUp">
    <header>
        <nav class="left">
            <a href="#" data-icon="undo" data-target="back">返回</a>
        </nav>
        <h1 class="title">
            <span class="name"></span>
            的绩效
        </h1>
    </header>
    <article class="active checkPerformance-article" id="checkPerformance_article" data-scroll="false">

        <div class="scrollWrapper">
            <!--<table class="performance-table performance-table-today">-->
                <!--<tr>-->
                    <!--<td>今日接单：</td>-->
                    <!--<td class="textRight">-->
                        <!--170 单-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>今日派送：</td>-->
                    <!--<td class="textRight">-->
                        <!--170 单-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>今日去重订单数：</td>-->
                    <!--<td class="textRight">-->
                        <!--170 单-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>派送平均耗时：</td>-->
                    <!--<td class="textRight">-->
                        <!--1小时15分钟-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
            <!--<hr/>-->
            <!--<table class="performance-table performance-table-month">-->
                <!--<tr>-->
                    <!--<td>本月接单：</td>-->
                    <!--<td class="textRight">-->
                        <!--170 单-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>本月派送：</td>-->
                    <!--<td class="textRight">-->
                        <!--170 单-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>本月去重订单数：</td>-->
                    <!--<td class="textRight">-->
                        <!--170 单-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>派送平均耗时：</td>-->
                    <!--<td class="textRight">-->
                        <!--1小时15分钟-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
            <!--<hr/>-->
            <!--<table class="performance-table performance-table-history">-->
                <!--<tr>-->
                    <!--<td>历史接单：</td>-->
                    <!--<td class="textRight">-->
                        <!--170 单-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>历史派送：</td>-->
                    <!--<td class="textRight">-->
                        <!--170 单-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>历史去重订单数：</td>-->
                    <!--<td class="textRight">-->
                        <!--170 单-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>派送平均耗时：</td>-->
                    <!--<td class="textRight">-->
                        <!--1小时15分钟-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        </div>
    </article>
</section>
<link rel="stylesheet" href="/buy//components/deliveryManage/checkPerformance_section/checkPerformance_section.css">